<div class="columns is-centered">
  <div class="column is-half">
    <div class="card column is-10">
      <div class="card-content">
        <p style="color: red"><%= alert %></p>
        <h1 class="title">Tips Calculator</h1>
        <article class="panel is-link">
          <p class="panel-heading">
            New Tip
          </p>
          <div class="panel-block">
            <%= render "form", tip: @tip %>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
